body {
    background-color: #101010;
}

.jumbotron {
    background-image: linear-gradient(#DDDDDD, #101010);
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-shadow: 2px 2px #101010;
    margin-bottom: 1rem;

    /* font-family: 'Cormorant Garamond', serif; */
}

.tran-btm {
    background-image: linear-gradient(#101010, #DDDDDD) !important;
    margin-bottom: 0rem;

}

.projects-title {
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.pro-title {
    margin-bottom: 1rem;
}

.projects-div {
    margin-top: 1rem;
    color: #101010;
    background-image: linear-gradient(#101010, #DDDDDD);
}

.card {
    border-radius: 0rem;
}


.card-title {
    margin-bottom: .75rem;
    font-family: 'Roboto Slab', serif;
}

.card-body {
    padding: 1.25rem;
}

.card-img-top {
    object-fit: contain;
    border-radius: 0rem;
}

.about-me {
    background-image: linear-gradient(#DDDDDD, #FFFFFF);
    /* padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px; */

}

.img-zero {
    opacity: 0.0;
}

.band-text {
    font-family: 'Pacifico', cursive;
}

.rounded-circle {
    border-radius: 50%!important;
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(133, 13, 13, 0.19); */
}

@media screen and (max-width: 576px) {

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .card {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .projects-title, .projects-div {
        margin-left: auto;
        margin-right: auto
    }
}

/* @media (min-width: 576px) {
    .card-columns .card {
        display: inline-block;
        width: 75%;
    }
} */
