body {
    background-color: #101010;
}

.jumbotron {
    /* margin-top: 2rem; */
    /* background-image: linear-gradient(to right, #DDDDDD, #101010); */
    background-image: linear-gradient(#DDDDDD, #101010);
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-shadow: 2px 2px #101010;



    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Pacifico', cursive; */
}

/* .main-title {
    margin-top: 2rem;
    background-image: linear-gradient(to right, #DDDDDD, #101010);
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
} */

.projects-title {
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.projects {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto Slab', serif;

}

.card {
    border-radius: 0rem;
}

.bg-dark {
    /* opacity: 0.5; */
}

.card-title {
    margin-bottom: 0rem;
    text-align: center;
}

.card-body {
    padding: 0.75rem;
}

.card-img-top {
    object-fit: contain;
    border-radius: 0rem;
}

.card-neo {
    background-color: #101010 !important;
}

.img-zero {
    opacity: 0.0;
}

.giphy-text {
    font-family: 'Press Start 2P', cursive;
}

.rounded-circle {
    border-radius: 50%!important;
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(133, 13, 13, 0.19); */
}

/* @media (min-width: 576px) {
 

    } */

/* @media only screen and (min-width: 576px) {
    .card {
        width: 75%;
    }
} */

@media screen and (max-width: 576px) {
    .card {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

/* @media (min-width: 576px) {
    .card-columns .card {
        display: inline-block;
        width: 75%;
    }
} */
